{%extends "index.html"%} {%block title%} {%if barcode == False%}Dodaj urządzenie {%else%} Udostępnij urządzenie
{%endif%} {%endblock%} {%block content%}
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <form method="POST">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
          <div class="flex justify-between">
            {%if hardware_data == False%}
            <h3 class="text-lg leading-6 font-medium text-gray-900">Dodaj urządzenie</h3>
            {%else%}
            <h3 class="text-lg leading-6 font-medium text-gray-900">Udostępnij urządzenie</h3>
            {%endif%}
            <div>
              <div>
                {%if hardware_data == False %}
                <div class="form-check">
                  <input
                    class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    type="checkbox" value="" id="rent_hardware">
                  <label class="form-check-label inline-block text-gray-800" for="rent_hardware">
                    Chcę udostępnić ten sprzęt użytkownikowi
                  </label>
                </div>
                {%endif%}
              </div>
            </div>
            <!-- <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can recieve mail.</p> -->
          </div>
          {%if hardware_data == False%}
          <div class="col-span-6">
            <label for="barcode" class="block text-sm font-medium text-gray-700">Barcode</label>
            <input type="text" name="barcode" id="barcode" autocomplete="barcode"
              class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="grid grid-cols-8 gap-8">
            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
              <label for="type" class="block text-sm font-medium text-gray-700">Typ</label>
              <select id="type" name="type" autocomplete="type"
                class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option></option>
                {%for type in type_list%}
                <option>{{type}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="marka" class="block text-sm font-medium text-gray-700">Marka</label>
              <select id="marka" name="marka" autocomplete="marka"
                class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option></option>
                {%for mark in mark_list%}
                <option>{{mark}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="model" class="block text-sm font-medium text-gray-700">Model</label>
              <select id="model" name="model" autocomplete="model"
                class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option></option>

                {%for model in model_list%}
                <option>{{model}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="status" class="block text-sm font-medium text-gray-700">Stan</label>
              <select id="status" name="status" autocomplete="status"
                class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                {%for status in status_list%}
                <option>{{status}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="bitlocker" class="block text-sm font-medium text-gray-700">Pin/hasło (bitlocker)</label>
              <input type="text" name="bitlocker" id="bitlocker" autocomplete="bitlocker"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="serial" class="block text-sm font-medium text-gray-700">Nazwa/serial</label>
              <input type="text" name="serial" id="serial" autocomplete="serial"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="identyfikator" class="block text-sm font-medium text-gray-700">Indentyfikator klucza
                odzyskiwania
              </label>
              <input type="text" name="identyfikator" id="identyfikator" autocomplete="identyfikator"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="klucz-odzyskiwania" class="block text-sm font-medium text-gray-700">Klucz/dysk odzyskiwania
              </label>
              <input type="text" name="klucz-odzyskiwania" id="klucz-odzyskiwania" autocomplete="klucz-odzyskiwania"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>


          </div>
          {%else%}
          {%include "hardware_details.html"%}
          {%endif%}
          {%if hardware_data==False %}
          <div class="grid grid-cols-6 gap-8" id="rent_hardware_container" style="display: none;">
            {% else %}
            <div class="grid grid-cols-6 gap-8" id="rent_hardware_container">
              {%endif%}
              {% include "rent_hardware.html"%}
            </div>
            <div>
              <label for="notes" class="block text-sm font-medium text-gray-700">Notatki:</label>
              <div class="mt-1">
                <textarea rows="4" name="notes" id="notes"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
              </div>
            </div>
          </div>

          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
    </form>


  </div>
</div>
{%endblock%}