{%extends "index.html"%} {%block title%} Dodaj dokumentację {%endblock%} {%block content%}
<div class="page-container">
  <div style="width: 50vw !important;">
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <form method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="p-8 bg-sky-800">
            <div class="md:flex md:items-center md:justify-between">
              {%include "return_arrow.html"%}
              <div class="flex-1 min-w-0">
                <h2 style="word-wrap: break-word;"
                  class="text-xl font-bold leading-7 text-white sm:text-3xl sm:truncate">{{header_text}} dokumenty
                </h2>
              </div>
              <div style="flex: 2;">
                <div class="flex justify-end">
                  {%if not edit%}
                  <a href="/paperwork/add_file" id="dodaj-plik"
                    class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 mr-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">

                    Dodaj z pliku</a>
                  {%endif%}
                  <div id="add_paperwork_container">
                    {%include "barcode_select.html"%}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">

            {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
            {% for category, message in messages %}
            <div {%if category=='error' %}
              class="bg-red-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" {%elif
              category=='warning' %}
              class="bg-yellow-300 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative" {%else%}
              class="bg-green-300 border border-green-400 text-green-700 px-4 py-3 rounded relative" {%endif%}
              role="alert">
              <span class="block sm:inline">{{message}}</span>
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            <div class="grid grid-cols-6 gap-8">
              {{form.hidden_tag()}}

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.kartoteka.label(class="block text-sm font-medium text-gray-700")}}
                {{form.kartoteka(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
                <!-- <label for="kartoteka_nr" class="block text-sm font-medium text-gray-700">Kartoteka NIW</label>
              <input type="text" name="kartoteka_nr" id="kartoteka_nr" autocomplete="kartoteka_nr"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"> -->
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.faktury.label(class="block text-sm font-medium text-gray-700")}}
                {{form.faktury(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
                <!-- <label for="faktury" class="block text-sm font-medium text-gray-700">Numery faktur</label>
              <input type="text" name="faktury" id="faktury" autocomplete="faktury"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"> -->
              </div>
            </div>

            <div class="grid grid-cols-6 gap-8">

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                {{form.kartoteka_typ.label(class="block text-sm font-medium text-gray-700")}}
                {{form.kartoteka_typ(class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2
                px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
                <!-- <label for="kartoteka_typ" class="block text-sm font-medium text-gray-700">Kartoteka Typ</label> -->
                <!-- <select id="kartoteka_typ" name="kartoteka_typ" autocomplete="kartoteka_typ"
                class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option></option>
                {%for typ in kartoteka%}
                <option>{{typ}}</option>
                {%endfor%}
              </select> -->
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <div style="display: flex; justify-content: space-between">
                  {{form.mpk.label(class="block text-sm font-medium text-gray-700")}}
                  <button type="button" id="add-mpk"
                    class="add-button ml-0.5 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded-full focus:outline-none">
                    <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                      <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                    </svg>
                  </button>
                </div>
                {{form.mpk(class="mt-1 block w-full bg-white border
                border-gray-300 rounded-md shadow-sm py-2
                px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
                {{form.nowy_mpk(placeholder="Wpisz MPK", class="mt-1 block w-full bg-white border
                border-gray-300 rounded-md shadow-sm py-2
                px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                {{form.data_przyjecia.label(class="block text-sm font-medium text-gray-700")}}
                {{form.data_przyjecia(class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm py-2
                px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
                <!-- <label for="data" class="block text-sm font-medium text-gray-700">Data przyjęcia</label>
              <input type="date" name="data_faktury"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" /> -->
              </div>

            </div>
            <div>
              <!-- <label for="notes" class="block text-sm font-medium text-gray-700">Notatki:</label>
            <div class="mt-1">
              <textarea rows="4" name="notes" id="notes"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
            </div> -->
              {{form.notatki.label(class="block text-sm font-medium text-gray-700")}}
              <div class="mt-1">
                {{form.notatki(class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm
                border-gray-300 rounded-md")}}
              </div>
            </div>
          </div>

          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{header_text}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='scripts/paperworkScripts.js')}}"></script>
{%endblock%}