{%extends "index.html"%}{%block title%}Zobacz wszystkie {%endblock%}{%block content%}

<!-- This example requires Tailwind CSS v2.0+ -->
<!-- <div class="px-4 sm:px-6 lg:px-8">
    
</div> -->
<div class="table-container">
  <table id="all_items_table" class="display order-column">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Barcode</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Data
          dodania
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Typ
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Marka
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Model
        </th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Serial</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Udostępniony?</th>
        <!-- <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Moccarz ID</th> -->
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">MPK</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">System</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Stan</th>
        <th scope="col" class="flex justify-center px-3 py-3.5 text-sm font-semibold text-gray-900" id="akcje-label">
          Akcje</th>

      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      {%for item in items%}
      <tr>
        <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
          {{item['barcode']}}
        </td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{
          item['upload_date']
          if item['upload_date']
          else "Brak"
          }}</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{
          item['typ']
          if item['typ']
          else "Brak"
          }}</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{item['marka']}}</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{item['model']}}</td>
        <td class="px-3 py-4 text-sm text-gray-500">{{item['serial']}}</td>
        <td class="px-3 py-4 text-sm text-gray-500">
          {{
          "Tak" if item['rented_status']
          else "Nie"
          }}

        </td>
        <!-- <td class="px-3 py-4 text-sm text-gray-500">
          {{
          item['mocarz_id']
          if item['rented_status']
          else "Brak"
          }}
        </td> -->
        <td class="px-3 py-4 text-sm text-gray-500">

          {{
          item['mpk']
          if item['mpk']
          else "Brak"
          }}

        </td>
        <td class="px-3 py-4 text-sm text-gray-500">
          {{
          item['system']
          if item['system']
          else "Brak"
          }}

        </td>
        <td class="px-3 py-4 text-sm text-gray-500">
          {{
          item['stan']
          if item['stan']
          else "Brak"
          }}
        </td>
        <td class="flex justify-center py-4 pl-3 pr-4  text-sm font-medium sm:pr-6">
          <form method="POST" class="mr-1 ml-1">
            <a href="/hardware/show_info/present/{{item['_id']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                <title>Zobacz szczegóły</title>
              </svg>
            </a>
          </form>
          {%if current_user.dostep == 'Admin' or current_user.dostep == 'IT'%}
          <form method="POST" class="mr-1 ml-1">
            <a href="/hardware/edit/all/{{item['_id']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                <title>Edytuj dane</title>
              </svg>
            </a>
          </form>

          {%if item['barcode']%}
          {%if item['rented_status'] == True%}
          <form method="POST" class="mr-1 ml-1">
            <a href="/hardware/return/all/{{item['barcode']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3" />
                <title>Zwróć sprzęt</title>
              </svg>

            </a>
          </form>
          {%else%}

          <form method="POST" class="mr-1 ml-1">
            <a href="/hardware/rent/all/{{item['barcode']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 9l6-6m0 0l6 6m-6-6v12a6 6 0 01-12 0v-3" />
                <title>Udostępnij sprzęt</title>
              </svg>
            </a>
          </form>
          {%endif%}
          {%endif%}
          <form method="POST">
            <a href="/hardware/delete/all/{{item['_id']}}" class="text-red-600 hover:text-red-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                <title>Usuń</title>
              </svg>
            </a>
          </form>
          {%endif%}
        </td>
      </tr>
      {%endfor%}


      <!-- More people... -->
    </tbody>
</div>

</table>



{%endblock%}