{%extends "index.html"%}{%block title%}Zobacz wszystkie {%endblock%}{%block content%}

<!-- This example requires Tailwind CSS v2.0+ -->
<!-- <div class="px-4 sm:px-6 lg:px-8">
    
</div> -->
{%with messages = get_flashed_messages(with_categories=true)%}
{%if messages%}
{% for category, message in messages %}
<div {%if category=='error' %} class="bg-red-300 border border-red-400 text-red-700 px-4 py-3 rounded relative" {%elif
  category=='warning' %} class="bg-yellow-300 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
  {%else%} class="bg-green-300 border border-green-400 text-green-700 px-4 py-3 rounded relative" {%endif%}
  role="alert">
  <span class="block sm:inline">{{message}}</span>

</div>
{%endfor%}
{%endif%}
{%endwith%}
<div class="table-container">
  <table id="all_items_table" class="display order-column">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nazwisko</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Imię
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Email
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Dostęp
        </th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" style="text-align: center;">
          MPK</th>
        <th scope="col" class="px-3 py-3.5 flex justify-center text-sm font-semibold text-gray-900" id="akcje-label">
          Akcje</th>

      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      {%for user in users%}
      <tr>
        <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
          {{user['nazwisko']}}
        </td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{user['imie']}}</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{user['email']}}</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{user['dostep']}}</td>
        <td class="px-3 py-4 text-sm text-gray-500" style="text-align: center;">
          {%if user['dostep'] != "User"%}
          <span>Nie dotyczy</span>
          {%else%}
          {%if user['mpk']%}
          {%for each in user['mpk']%}
          <span>-{{each}}-</span>
          {%endfor%}
          {%else%}
          <span>Brak</span>
          {%endif%}
          {%endif%}
        </td>
        <td class="flex justify-center py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
          <form method="POST" class="mr-2">
            <a href="/users/edit/{{user['_id']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                <title>Edytuj dane</title>
              </svg>
            </a>
          </form>
          <form method="POST">
            <a href="/users/reset_pass/{{user['_id']}}" class="text-indigo-600 hover:text-indigo-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                <title>Resetuj hasło</title>
              </svg>
            </a>
          </form>
          <form method="POST" class="ml-2">
            <a href="/users/delete/{{user['_id']}}" class="text-red-600 hover:text-red-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                <title>Usuń użytkownika</title>
              </svg>
            </a>
          </form>
        </td>
      </tr>
      {%endfor%}


      <!-- More people... -->
    </tbody>


  </table>
</div>
<!-- <div style="height: 100%; width: 100%; background: red; z-index: 100; position: absolute; top: 0; display: flex; justify-content: center; align-items: center">
  test
</div> -->


{%endblock%}