{%extends "index.html"%}{%block title%}Historia sprzętu{%endblock%}{%block content%}

<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <div class="p-8 bg-sky-800 md:rounded-lg">
    <div class="md:flex md:items-center md:justify-between">
      {%include "return_arrow.html"%}
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate">
          {{barcode}}
        </h2>
        <h3 class="text-xl font-bold leading-5 text-white sm:text-xl sm:truncate">Dodany {{date}} przez {{creator}}</h3>
      </div>
    </div>
  </div>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Dokonana zmiana
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Czas
            dokonania zmiany
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Osoba
            dokonująca zmiany
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Stan
            sprzętu
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Opis
            uszkodzenia (jeśli dotyczy)
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Uwagi</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Akcje</th>

          <!-- <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Marka
          </th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Model
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Serial</th>

          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Edit</span>
          </th> -->
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {%for item in history%}
        <tr>
          <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
            <!-- {% if item['rented_status']%}
            Udostępniony
            {%elif item['returned']%}
            Zwrócony
            {%else%}
            Nieudostępniony
            {%endif%} -->
            {{item['modyfikacja']}}
            <dl class="font-normal lg:hidden">
              <dt class="sr-only">{{item['last_updated']}}</dt>
              <dd class="mt-1 truncate text-gray-700">{{item['who_modified']}}</dd>
              <dd class="mt-1 truncate text-gray-500 sm:hidden">{{item['stan']}}</dd>
            </dl>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{item['last_updated']}}</td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{item['who_modified']}}</td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{item['stan']}}</td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{
            item['opis_uszkodzenia']
            if item['opis_uszkodzenia']
            else "Brak"
          }}</td>
          <td class="px-3 py-4 text-sm text-gray-500">{{
            item['notatki'] 
            if item['notatki']
            else "Brak" 
          }}</td>
          <td class="px-3 py-4 text-sm text-gray-500">
            <form method="POST">
              <a href="/hardware/show_info/history/{{item['_id']}}" class="text-indigo-600 hover:text-indigo-900">
                <input type="button" name="{{item['_id']}}">Zobacz szczegóły</a>
            </form>
          </td>

        </tr>
        {%endfor%}


        <!-- More people... -->
      </tbody>
    </table>
  </div>
</div>




{%endblock%}