<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smaug - {% block title %}Home{% endblock %}</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/r-2.3.0/sc-2.0.7/datatables.min.css"/>
 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/r-2.3.0/sc-2.0.7/datatables.min.js"></script>
  
</head>

<body>
  {%if current_user.is_authenticated%}
  {% include "navbar.html"%}
  {%endif%}
  <div id="main-container">
    {% block content%} {% endblock%}
  </div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>

</html>