{%extends "index.html"%}{%block title%}Informacje o sprzęcie{%endblock%}{%block content%}

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="p-8 bg-gray-800">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate">{{hardware_data['barcode']}}</h2>
        <h3 class="text-xl font-bold leading-5 text-white sm:text-xl sm:truncate">Dodane
          {{hardware_data['upload_date']}} przez {{hardware_data['adder']}}</h3>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <!-- <button type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">Edytuj</button> -->
        <form method="GET">
          <a href="/see_history/{{hardware_data['barcode']}}"
            class="tml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
            <input type="button" name="{{hardware_data['barcode']}}"> Zobacz historię </a>
        </form>
      </div>
    </div>
  </div>
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
        {%include "hardware_details.html"%}
        {%if hardware_data['rented_status']=="Udostępniony"%}
        {%include "user_details.html"%}
        <div class="grid grid-cols-6 gap-8">
          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <dt class="text-sm font-medium text-gray-500">
              Data wypożyczenia</dt>
            <dd class="mt-1 text-sm text-gray-900">{{hardware_data['rent_date']}}</dd>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <dt class="text-sm font-medium text-gray-500">Osoba wypożyczająca</dt>
            <dd class="mt-1 text-sm text-gray-900">{{hardware_data['who_rented']}}</dd>
          </div>
          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <!-- <input type="button"
              class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">Zwróć</button> -->
            <form method="POST">
              <a href="/return_hardware/{{hardware_data['barcode']}}"
                class="tml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
                <input type="button" name="{{hardware_data['barcode']}}"> Zwróć </a>
            </form>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
{%endblock%}