<button id="mpkSearchButton" data-dropdown-toggle="dropdownMpkSearch" data-dropdown-placement="bottom" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" type="button">
  <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
  </svg></button>

<!-- Dropdown menu -->
<div style="width: 30%" id="dropdownMpkSearch" class="hidden z-10 bg-white rounded shadow dark:bg-gray-700">
  <ul id="mpk-list" class="overflow-y-auto px-3 pb-3 h-48 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="mpkSearchButton">
    {%if edit%}
    {%for value in mpk_data%}
    <li>
      <div class="flex items-center pl-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <input type="checkbox" name="mpk_list" value="{{value['mpk']}}" {%if value['selected']%} checked="true" {%endif%}
          class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-11"
          class="py-2 ml-2 w-full text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{value['mpk']}}</label>
      </div>
    </li>
    {%endfor%}
    {%else%}
    {%for value in mpk_data%}
    <li>
      <div class="flex items-center pl-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <input type="checkbox" name="mpk_list" value="{{value}}"
          class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="checkbox-item-11"
          class="py-2 ml-2 w-full text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{value}}</label>
      </div>
    </li>
    {%endfor%}

    {%endif%}
  </ul>