{%extends 'main.html'%}{%block content%}
<div class="page-container">
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <form method="POST">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="py-6 px-4 space-y-6 sm:p-6" style="background-color: #1F2937;">
            <div class="flex justify-center">
              <div style="display: flex; align-items:center">
                <h3 class="text-lg leading-6 font-medium text-white">Dodaj użytkownika</h3>
              </div>
            </div>
          </div>
          <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
            <div class="grid grid-cols-6 gap-8">
              {{form.hidden_tag()}}

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.login.label(class="block text-sm font-medium text-gray-700")}}
                {{form.login(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.password.label(class="block text-sm font-medium text-gray-700")}}
                {{form.password(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.imie.label(class="block text-sm font-medium text-gray-700")}}
                {{form.imie(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                {{form.nazwisko.label(class="block text-sm font-medium text-gray-700")}}
                {{form.nazwisko(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-6">
                {{form.email.label(class="block text-sm font-medium text-gray-700")}}
                {{form.email(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", id="email")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-6" id="access-box">
                {{form.access.label(class="block text-sm font-medium text-gray-700")}}
                {{form.access(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", id="access")}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3" style="display:none" id="signup-mpk">
                {{form.mpk.label(class="block text-sm font-medium text-gray-700")}}
                {{form.mpk(class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}}
              </div>
            </div>
          </div>

          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Dodaj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}