<div class="grid grid-cols-12 gap-4 ">
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Mocarz ID użytkownika</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['login']
      if hardware_data['login']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Mocarz ID użytkownika</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['mocarz_id']
      if hardware_data['mocarz_id']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Projekt</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['projekt']
      if hardware_data['projekt']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Lokalizacja</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['lokalizacja']
      if hardware_data['lokalizacja']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Karta zbliżeniowa</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['karta_zblizeniowa']
      if hardware_data['karta_zblizeniowa']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Słuchawki</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['sluchawki']
      if hardware_data['sluchawki']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Złącze</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['zlacze']
      if hardware_data['zlacze']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Przejściówka</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['przejsciowka']
      if hardware_data['przejsciowka']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Mysz</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['mysz']
      if hardware_data['mysz']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-gray-500">Torba</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['torba']
      if hardware_data['torba']
      else "N/A"
    }}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
    <dt class="text-sm font-medium text-whigray-500te">Modem</dt>
    <dd class="mt-1 text-sm text-gray-900">{{
      hardware_data['modem']
      if hardware_data['modem']
      else "N/A"
    }}</dd>
  </div>



</div>
<div class="border-b mb-2 mt-5 border-gray-200"></div>
<div class="grid grid-cols-12 gap-4 ">
  <div class="col-span-4 sm:col-span-4 lg:col-span-4 flex justify-center content-center">
    <div>
      <dt class="text-sm font-medium text-gray-500">
        Data wypożyczenia</dt>
      <dd class="mt-1 text-sm text-gray-900">{{
        hardware_data['rent_date']
        if hardware_data['rent_date']
        else "N/A"
      }}</dd>
    </div>
  </div>
  <div class="col-span-4 sm:col-span-4 lg:col-span-4 flex justify-center content-center">
    <div>
      <dt class="text-sm font-medium text-gray-500">Osoba wypożyczająca</dt>
      <dd class="mt-1 text-sm text-gray-900">{{
        hardware_data['who_rented']
        if hardware_data['who_rented']
        else "N/A"
      }}</dd>
    </div>
  </div>
  <div class="col-span-4 sm:col-span-4 lg:col-span-4 flex justify-center content-center">
    <div>
      <dt class="text-sm font-medium text-gray-500">Uwagi dotyczące wypożyczenia</dt>
      <dd class="mt-1 text-sm text-gray-900">{{
        hardware_data['notatki_wypozyczenie']
        if hardware_data['notatki_wypozyczenie']
        else "Brak"
      }}</dd>
    </div>
  </div>
</div>