<div class="grid grid-cols-6 gap-8">
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Mocarz ID użytkownika</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['mocarz_id']}}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Projekt</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['projekt']}}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Lokalizacja</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['lokalizacja']}}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">MPK</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['mpk']}}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">
      Indentyfikator klucza odzyskiwania</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['bitlocker1']}}</dd>
  </div>
  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
    <dt class="text-sm font-medium text-gray-500">Klucz/dysk odzyskiwania</dt>
    <dd class="mt-1 text-sm text-gray-900">{{hardware_data['bitlocker2']}}</dd>
  </div>
</div>