#main-container {
  height: calc(100vh - 64px) !important;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

#table-container {
  display: flex;
  height: 100px !important;
  overflow: auto !important;
}

#all_items_table_wrapper {
  background-color: whitesmoke !important;
  position: sticky !important;
  top: 40px !important;
}

#all_items_table_length, #all_items_table_filter {
  position: sticky;
  top: 64px;
  background: whitesmoke;
  width: 50%;
  padding: 0.5em;
}

#all_items_table_info, #all_items_table_paginate {
  position: sticky;
  bottom: 0;
  background: whitesmoke;
  width: 50%;
  padding: 0.3em;
}

#all_items_table thead {
  position: sticky;
  top: 110px;
}

.dataTables_length select {
  width: 5rem !important;

}

#cancel-typ,
#cancel-model,
#cancel-marka,
#cancel-projekt,
#cancel-lokalizacja {
  display: none;
}

#login-container {
  display: flex;
  align-items: center;
}


.page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgba(44, 62, 80, .8);
  font-family: 'Oswald', 'Futura', sans-serif;
}

#wrapper {
  margin-top: 10% !important;
}

#content {
  background: beige;
  padding: 25px;
}

#content>h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 0;
}

.t10 {
  margin-top: 10px;
}

.t20 {
  margin-top: 20px;
}

.todo-completed {
  text-decoration: line-through;
  background: rgba(149, 165, 166, .3);
}


footer {
  margin-top: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  #login-container {
    flex-direction: column;
  }
}