#main-container {
  height: calc(100vh - 64px) !important;
}

.page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

#history_table, 
#all_items_table, 
#all_users_table {
  height: 100%;
  /* height: calc(100vh - 64px) !important; */
  overflow: auto !important;
}


#history_table_wrapper, 
#all_items_table_wrapper, 
#all_users_table_wrapper {
  background-color: whitesmoke !important;
  position: sticky !important;
  top: 40px !important;
}

#ahistory_table_length,
#ahistory_table_filter, 
#all_items_table_length,
#all_items_table_filter, 
#all_users_table_length,
#all_users_table_filter {
  position: sticky;
  top: 64px;
  background: whitesmoke;
  width: 50%;
  padding: 0.5em;
}

#table-bottom-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  background: whitesmoke;
  padding: 0.3em;
}

#table-bottom-left {
  flex: 1;
}

.dt-buttons {
  margin: 0 20px;
}

#all_items_table thead {
  position: sticky;
  top: 110px;
}

.dataTables_length select {
  width: 5rem !important;

}

#cancel-typ,
#cancel-model,
#cancel-marka,
#cancel-projekt,
#cancel-lokalizacja,
#cancel-stanowisko {
  display: none;
}

#login-container {
  display: flex;
  align-items: center;
}




body {
  background: rgba(44, 62, 80, .8);
  font-family: 'Questrial', 'Oswald', 'Futura', sans-serif;
}

.component-header {
  background-color: #1F2937 !important;
}

#wrapper {
  margin-top: 10% !important;
}

#content {
  background: beige;
  padding: 25px;
}

#content>h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 0;
}

.t10 {
  margin-top: 10px;
}

.t20 {
  margin-top: 20px;
}

.todo-completed {
  text-decoration: line-through;
  background: rgba(149, 165, 166, .3);
}

nav select {
  border-radius: 5px;

}

.return-container {
  padding: 0.5em;
  margin-right: 0.3em;

  border-radius: 0.1em;
  height: 3.2em;
  width: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.return-container .arrow {
  height: 50% !important;
  width: 50% !important;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transition: transform .2s;
  transform: rotate(45deg);
  /* Animation */
}

.return-container:hover .arrow {
  transform: scale(1.5);
  transform: rotate(135deg);
}

#confirm-change-button,
#cancel-change-button {
  width: 100%;
}

#confirm-change-button {
  background: #16a34a;
}

#confirm-change-button:hover {
  background: #15803d;
}

#confirm-change-button:focus {
  background: #10b981;
}

#cancel-change-button {
  background: #e11d48;
}

#cancel-change-button:hover {
  background: #be123c;
}

#cancel-change-button:focus {
  background: #f43f5e;
}

footer {
  margin-top: 20px;
  color: white;
}

#mpkSearchButton {
  width: 100% !important;
  margin-top: 0.25rem;
  display: flex;
  justify-content: flex-end;
}

#mpk-alert {
  display: none;
}

.add-button,
.cancel-button {
  background-color: rgb(7 89 133);
  color: white;
  padding: 2px;
  height: 20px;
  width: 20px;
}

@keyframes change-to-add {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

.add-button {
  animation: change-to-add 0.3s;
  transform: rotate(45deg);
}


@keyframes change-to-cancel {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.cancel-button {
  animation: change-to-cancel 0.3s;
}


@media screen and (max-width: 768px) {
  #login-container {
    flex-direction: column;
  }
}


@media (min-width: 640px) {
  .sm\:text-3xl {
    font-size: 1.575rem !important;
    line-height: 2.25rem;
  }
}

#akcje-label {
  text-align: right !important;
}